<div class="container">
  
  <div class="main-content scroll-hidden overflow-auto" [class.menu-open]="isMenuOpen">
    <div class="emptyContent" *ngIf="content == true">
      <h1>Aún no tienes productos</h1>
      <p>Agregar tus Productos</p>
    </div>

    <div class="products-container">
      <input 
        type="text" 
        placeholder="Buscar productos..." 
        [(ngModel)]="searchTerm"
        (input)="filterProducts()"
      />

      <button mat-flat-button class="AgregarProd" (click)="openAddProductComponent()">Agregar Producto</button>
      <mat-divider></mat-divider> 
    <div class="products-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" *ngIf="content == false">
      <!-- Lista de productos  -->
       @for (product of filteredProducts; track $index) {
        <div class="product-card w-full max-w-xs bg-white rounded-lg shadow-md overflow-hidden flex flex-col items-center text-center mt-4">
          <div class="w-full h-44 flex justify-center items-center bg-gray-100">
            <img *ngIf="product.imagenBase64" 
              [src]="'data:image/jpeg;base64,' + product.imagenBase64"
              class="w-full h-full object-contain">
          </div>
          <div class="p-4 flex flex-col items-center text-center">
            <h3 class="text-lg font-semibold">{{ product.nombreProducto }}</h3>
            <p class="text-gray-600">{{ product.descripcion }}</p>
            <p class="text-gray-600">{{product.stock}} Uds.</p>
            <p class="text-xl font-bold text-sky-900">$ {{ product.precio | number: '1.0-0' }}</p>
            <div class="w-full max-w-xs bg-white flex justify-center items-center gap-4">
              <button (click)="openEditProductComponent(product)" class="mt-2 w-11 h-11 bg-sky-900 text-white py-2 rounded-md hover:bg-blue-700">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="openDeleteProductDialog(product)" class="mt-2 w-11 h-11 bg-red-800 text-white py-2 rounded-md hover:bg-red-700">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
       }
    </div>
    </div>
  </div>
</div>
