<div class="register-container">
  <span class="font-bold mb-4 block">
    ¡Todos los campos marcados con asteriscos deben ser diligenciados!
  </span>

  <form
    [formGroup]="registerForm"
    class=" mt-5 grid grid-cols-1 md:grid-cols-2 gap-6"
    (ngSubmit)="register()"
  >
    <!-- Nombres -->
    <div class="flex flex-col">
      <label for="name">Nombres *</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Ingresa tu nombre"
        class="border rounded p-2"
      />
      <p
        *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid"
        class="text-red-500 text-sm"
      >
        El nombre es requerido y debe tener al menos 3 caracteres.
      </p>
    </div>

    <!-- Apellidos -->
    <div class="flex flex-col">
      <label for="lastname">Apellidos *</label>
      <input
        type="text"
        id="lastname"
        formControlName="lastname"
        placeholder="Ingresa tus apellidos"
        class="border rounded p-2"
      />
      <p
        *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.invalid"
        class="text-red-500 text-sm"
      >
        El apellido es requerido y debe tener al menos 3 caracteres.
      </p>
    </div>

    <!-- Tipo Documento -->
    <div class="flex flex-col">
      <label for="tipoDocumento">Tipo de Documento *</label>
      <select
        id="tipoDocumento"
        formControlName="tipoDocumento"
        class="border rounded p-2"
      >
        <option value="" disabled selected>
          Selecciona un tipo de documento
        </option>
        <option *ngFor="let tipo of tiposDocumento" [value]="tipo">
          {{ tipo }}
        </option>
      </select>
      <p
        *ngIf="registerForm.get('tipoDocumento')?.touched && registerForm.get('tipoDocumento')?.invalid"
        class="text-red-500 text-sm"
      >
        El tipo de documento es obligatorio.
      </p>
    </div>

    <!-- Número Documento -->
    <div class="flex flex-col">
      <label for="numDocumento">Número de Documento *</label>
      <input
        type="text"
        id="numDocumento"
        formControlName="numDocumento"
        placeholder="Ingresa tu número de documento"
        class="border rounded p-2"
      />
      <p
        *ngIf="registerForm.get('numDocumento')?.touched && registerForm.get('numDocumento')?.invalid"
        class="text-red-500 text-sm"
      >
        La cédula debe contener entre 5 y 10 dígitos.
      </p>
    </div>

    <!-- Correo -->
    <div class="flex flex-col">
      <label for="correo">Email *</label>
      <input
        type="email"
        id="correo"
        formControlName="correo"
        placeholder="Ingresa tu correo electrónico"
        class="border rounded p-2"
      />
      <p
        *ngIf="registerForm.get('correo')?.touched && registerForm.get('correo')?.invalid"
        class="text-red-500 text-sm"
      >
        Debes ingresar un correo electrónico válido.
      </p>
    </div>

    <!-- Fecha de nacimiento -->
    <div class="flex flex-col">
      <label for="fechaNacimiento">Fecha de Nacimiento</label>
      <input
        type="date"
        id="fechaNacimiento"
        formControlName="fechaNacimiento"
        class="border rounded p-2"
      />
    </div>

    <!-- Fecha de ingreso -->
    <div class="flex flex-col">
      <label for="fechaIngreso">Fecha de Ingreso *</label>
      <input
        type="date"
        id="fechaIngreso"
        formControlName="fechaIngreso"
        class="border rounded p-2"
      />
    </div>

    <!-- Tipo Usuario -->
    <div class="flex flex-col">
      <label for="tipoUsuario">Asignar tipo de usuario *</label>
      <select
        id="tipoUsuario"
        formControlName="tipoUsuario"
        class="border rounded p-2"
      >
        <option value="" disabled selected>Selecciona tipo de usuario</option>
        <option *ngFor="let tipoUsuario of tiposUsuario" [value]="tipoUsuario">
          {{ tipoUsuario }}
        </option>
      </select>
    </div>

    <!-- Contraseña -->
    <div class="flex flex-col">
      <label for="contrasena">Contraseña *</label>
      <input
        type="password"
        id="contrasena"
        formControlName="contrasena"
        placeholder="Ingresa tu contraseña"
        class="border rounded p-2"
      />
    </div>

    <!-- Confirmar contraseña -->
    <div class="flex flex-col">
      <label for="confirm-contrasena">Confirmar Contraseña *</label>
      <input
        type="password"
        id="confirm-contrasena"
        formControlName="confirmContrasena"
        placeholder="Confirma tu contraseña"
        class="border rounded p-2"
      />
    </div>

    <!-- Celular -->
    <div class="flex flex-col">
      <label for="cell">Celular *</label>
      <input
        type="text"
        id="cell"
        formControlName="cell"
        placeholder="Ingresa tu celular"
        class="border rounded p-2"
      />
    </div>

    <!-- Dirección -->
    <div class="flex flex-col">
      <label for="direccion">Dirección *</label>
      <input
        type="text"
        id="direccion"
        formControlName="direccion"
        placeholder="Ingresa tu dirección"
        class="border rounded p-2"
      />
    </div>

    <!-- Género -->
    <div class="flex flex-col">
      <label for="genero">Género</label>
      <select id="genero" formControlName="genero" class="border rounded p-2">
        <option value="" disabled selected>Selecciona género</option>
        <option *ngFor="let genero of tiposGenero" [value]="genero">
          {{ genero }}
        </option>
      </select>
    </div>

    <!-- Botón -->
    <div class="col-span-1 md:col-span-2 flex justify-center">
      <button
        type="submit"
        class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700"
        [disabled]="registerForm.invalid"
      >
        Registrar Usuario
      </button>
    </div>
  </form>

  <p *ngIf="messageSuccess" class="text-green-600 mt-4">{{ messageSuccess }}</p>
  <p *ngIf="messageError" class="text-red-600 mt-4">{{ messageError }}</p>
</div>