<header class="header-container bg-sky-950">
    <nav>
      <ul>
        <a class="text-white text-base ml-5">Bienvenido</a>
        <!-- <li><a routerLink="/register"><mat-icon>account_circle</mat-icon> Registrarse</a></li> -->
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Example icon-button with a menu" class="btnMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <p [matMenuTriggerFor]="profileMenu" class="cursor-pointer">{{user.username}}</p>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            <span>Actualizar Datos</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configuración</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>
      </ul>
    </nav>
  </header>