
.header-container {
    // background-color: #3f51b5;
    // color: white;
    width: auto;
    height: 5vh;
    position: static;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav h1 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    height: 5vh;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center; 
  }
  
  nav li a {
    color: white;
    height: 5vh;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  nav li a mat-icon {
    margin-right: 0.5rem;
    margin-left: 1.5rem;
  }

  button{
    background: none;
    border: none;
    display: flex;
  }

  .btnMenu{
    color: white;
  }

  button:hover {
    cursor: pointer;
    border-radius: 3px;
  }

  p{
    margin-left: -15px;
    margin-right: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  
  
