
.header-container {
    background-color: #3f51b5;
    color: white;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav h1 {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  nav li a mat-icon {
    margin-right: 0.5rem;
  }

  button{
    background: none;
    border: none;
    display: flex;
  }

  .btnMenu{
    color: white;
  }

  button:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: gray;
  }

  p{
    margin: 0;
    margin-left: -15px;
    margin-right: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
