<div
  class="w-full grid grid-cols-1 md: grid-cols-2 lg: grid-cols-3 justify-between gap-4"
>
  <div class="rounded-lg shadow-lg shadow-black justify-between gap-4">
    <span class="text-xl mt-4">Total vendido en el dia</span>
    <p class="text-2xl mt-4 text-sky-900">
      $ <span class="text-2xl">255.369</span>
    </p>
    <p class="text-xl mt-4">
      <span class="text-xl italic">{{
        fechaDiaActual() | date : "dd-MM-yyyy"
      }}</span>
    </p>
  </div>
  <div class="rounded-lg shadow-lg shadow-black">
    <span class="text-xl">Productos sin stock</span>
    <p class="text-2xl">Todos los proudctos tienen stock</p>
    <p class="text-2xl">¡Tienes productos sin stock!</p>
    <div class="grid grid-cols-2 gap-4 p-4">
      <button class="h-10 rounded-lg bg-sky-900 text-white">
        Ir a productos
      </button>
      <button class="h-10 rounded-lg bg-sky-900 text-white">
        Ir a reportes
      </button>
    </div>
  </div>
  <div class="rounded-lg shadow-lg shadow-black">
    <span class="text-xl">Productos sin stock</span>
    <p class="text-2xl">Todos los proudctos tienen stock</p>
    <p class="text-2xl">¡Tienes productos sin stock!</p>
    <div class="grid grid-cols-2 gap-4 p-4">
      <button class="h-10 rounded-lg bg-sky-900 text-white">
        Ir a productos
      </button>
      <button class="h-10 rounded-lg bg-sky-900 text-white">
        Ir a reportes
      </button>
    </div>
  </div>

  <!-- Segundo bloque -->
    <div class="h-[60vh] rounded-lg shadow-lg shadow-black mt-4">
      <span class="text-xl">Productos sin stock</span>
      <p class="text-2xl">Todos los proudctos tienen stock</p>
      <p class="text-2xl">¡Tienes productos sin stock!</p>
      <div class="grid grid-cols-2 gap-4 p-4">
        <button class="h-10 rounded-lg bg-sky-900 text-white">
          Ir a productos
        </button>
        <button class="h-10 rounded-lg bg-sky-900 text-white">
          Ir a reportes
        </button>
      </div>
    </div>
    <div class="h-[60vh] rounded-lg shadow-lg shadow-black mt-4 flex flex-col">
      <span class="text-xl">Productos sin stock</span>
      <div class="flex-1 overflow-y-auto p-2">
        @for(product of noStockProducts(); track product){
      <ul>
        <li class="m-4">- {{ product.nombreProducto }}</li>
      </ul>
      }
      <p class="text-2xl" *ngIf="noStockProducts().length == 0">
        Todos los proudctos tienen stock
      </p>
      </div>
      <div class="grid grid-cols-2 gap-4 p-4">
        <button class="h-10 rounded-lg bg-sky-900 text-white">
          Ir a productos
        </button>
        <button class="h-10 rounded-lg bg-sky-900 text-white">
          Ir a reportes
        </button>
      </div>
    </div>
    <div class="h-[60vh] rounded-lg shadow-lg shadow-black mt-4">
      <span class="text-xl">Productos sin stock</span>
      <p class="text-2xl">Todos los proudctos tienen stock</p>
      <p class="text-2xl">¡Tienes productos sin stock!</p>
      <div class="grid grid-cols-2 gap-4 p-4">
        <button class="h-10 rounded-lg bg-sky-900 text-white">
          Ir a productos
        </button>
        <button class="h-10 rounded-lg bg-sky-900 text-white">
          Ir a reportes
        </button>
      </div>
    </div>
</div>
