<div class="container mx-auto p-4 w-full h-full">
  <div class="main-content h-full" [class.menu-open]="isMenuOpen">
    <!-- Mensaje cuando no hay productos -->
    <div class="emptyContent text-center" *ngIf="content == true">
      <h1 class="text-2xl font-bold mb-2">Aún no tienes productos para facturar</h1>
    </div>

    <!-- Contenedor de productos -->
    <div class="products-container  h-full" *ngIf="content == false">
      <!-- Barra de búsqueda -->
      <div class="relative  mb-4 search-container">
        <input 
          type="text" 
          placeholder="Buscar productos..." 
          [(ngModel)]="searchTerm"
          (input)="filterProducts()"
          (click)="showOptions = true"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4"
        />

      <mat-divider></mat-divider>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr class="bg-gray-200 text-center">
          <th class="px-4 py-2 ">Número Factura</th>
          <th class="px-4 py-2 ">Nombre Cliente</th>
          <th class="px-4 py-2 ">Total Factura</th>
          <th class="px-4 py-2 ">Forma Pago</th>
          <th class="px-4 py-2 ">Fecha Factura</th>
          <th class="px-4 py-2 "></th>
        </tr>
      </thead>
      <tbody>
        @for (invoice of filteredInvoices(); track $index) {
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 text-center">
          <td class="px-4 py-2 text-black">{{ invoice.numeroFactura }}</td>
          <td class="px-4 py-2 font-bold text-black">{{ invoice.nombreCliente }}</td>
          <td class="px-4 py-2 text-black font-bold">$ {{ invoice.parsedFactura?.Total | number: '1.0-0' }}</td>
          <td class="px-4 py-2 text-black">{{ invoice.formaPago }}</td>
          <td class="px-4 py-2 text-black">{{ invoice.fechaCreacion | date: 'dd-MM-yyyy' }}</td>
          <th class="px-4 py-2 items-center">
            <!-- <button 
                class="w-10 h-10 bg-green-500 text-white rounded hover:bg-green-600 transition duration-200"
                (click)="downloadPDF(invoice)"
              >
              <mat-icon class="text-white text-lg">download</mat-icon>
              </button> -->
              <p class="text-blue-600 font-light hover:cursor-pointer" (click)="downloadPDF(invoice)">Descargar</p>
          </th>
        </tr>
        }
      </tbody>
      </table>
        </div>
  </div>
</div>
</div>
