<div class="register-container w-full flex justify-center px-4">
  <div class="w-full max-w-4xl">
    <span class="font-bold mb-6 block text-center text-sm sm:text-base">
      ¡Todos los campos marcados con asteriscos deben ser diligenciados!
    </span>

    <div>
      <form
        [formGroup]="registerForm"
        class="form-register grid grid-cols-1 md:grid-cols-2 gap-4"
        (ngSubmit)="register()"
      >
        <div class="form-group-reg flex flex-col">
          <label for="name">Nombres</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Ingresa tu nombre"
            class="input"
          />
          <p *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
            El nombre es requerido y debe tener al menos 3 caracteres.
          </p>
        </div>

        <div class="form-group-reg flex flex-col">
          <label for="lastname">Apellidos</label>
          <input
            type="text"
            id="lastname"
            formControlName="lastname"
            placeholder="Ingresa tus apellidos"
            class="input"
          />
          <p *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.invalid">
            El apellido es requerido y debe tener al menos 3 caracteres.
          </p>
        </div>

        <div class="form-group-reg flex flex-col">
          <label for="tipoDocumento">Tipo de Documento</label>
          <select id="tipoDocumento" formControlName="tipoDocumento" class="input">
            <option value="" disabled selected>Selecciona un tipo de documento</option>
            <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
          </select>
          <p *ngIf="registerForm.get('tipoDocumento')?.touched && registerForm.get('tipoDocumento')?.invalid">
            El tipo de documento es obligatorio.
          </p>
        </div>

        <div class="form-group-reg flex flex-col">
          <label for="numDocumento">Número de Documento</label>
          <input
            type="text"
            id="numDocumento"
            formControlName="numDocumento"
            placeholder="Ingresa tu número de documento"
            class="input"
          />
          <p *ngIf="registerForm.get('numDocumento')?.touched && registerForm.get('numDocumento')?.invalid">
            La cédula debe contener entre 5 y 10 dígitos.
          </p>
        </div>

        <div class="form-group-reg flex flex-col">
          <label for="correo">Email</label>
          <input
            type="email"
            id="correo"
            formControlName="correo"
            placeholder="Ingresa tu correo electrónico"
            class="input"
          />
          <p *ngIf="registerForm.get('correo')?.touched && registerForm.get('correo')?.invalid">
            Debes ingresar un correo electrónico válido.
          </p>
        </div>

        <div class="form-group-reg flex flex-col">
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input
            type="date"
            id="fechaNacimiento"
            formControlName="fechaNacimiento"
            class="input"
          />
          <p *ngIf="registerForm.get('fechaNacimiento')?.touched && registerForm.get('fechaNacimiento')?.invalid">
            Debes ingresar una fecha de nacimiento válida.
          </p>
        </div>

        <div class="form-group-reg flex flex-col">
          <label for="cell">Celular</label>
          <input
            type="text"
            id="cell"
            formControlName="cell"
            placeholder="Ingresa tu celular"
            class="input"
          />
          <p *ngIf="registerForm.get('cell')?.touched && registerForm.get('cell')?.invalid">
            El celular debe tener exactamente 10 dígitos.
          </p>
        </div>

        <div class="form-group-reg flex flex-col">
          <label for="direccion">Dirección</label>
          <input
            type="text"
            id="direccion"
            formControlName="direccion"
            placeholder="Ingresa tu dirección"
            class="input"
          />
        </div>

        <div class="form-group-reg flex flex-col md:col-span-2">
          <label for="genero">Genero</label>
          <select id="genero" formControlName="genero" class="input">
            <option value="" disabled selected>Selecciona tipo de usuario</option>
            <option *ngFor="let genero of tiposGenero" [value]="genero">{{ genero }}</option>
          </select>
          <p *ngIf="registerForm.get('genero')?.touched && registerForm.get('genero')?.invalid">
            La seleccion es obligatoria.
          </p>
        </div>

        <div class="md:col-span-2">
          <button
            type="submit"
            class="btn bg-sky-900 w-full py-2"
            [disabled]="registerForm.invalid"
          >
            Registrar Cliente
          </button>
        </div>
      </form>

      <p *ngIf="messageSuccess" class="messageSuccess text-center mt-4">
        {{ messageSuccess }}
      </p>
      <p *ngIf="messageError" class="messageError text-center mt-4">
        {{ messageError }}
      </p>
    </div>
  </div>
</div>
