<div class="container w-full h-full flex flex-col justify-center items-center">
  <div class="grid grid-cols-1 md:grid-cols-2 h-screen w-screen">
  <!-- Columna izquierda con imagen -->
  <div class=" h-screen">
    <img
      src="../../../assets/images/LumoLoginVeritcal.png"
      alt="Login image"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Columna derecha con formulario -->
  <div class="h-screen flex items-center justify-center">
    <div class="bg-white p-10 m-3 rounded-lg shadow-xl w-full max-w-md shadow-sm shadow-cyan-500">
      <div class="w-full items-center flex justify-center mb-5" >
        <img
        src="../../../assets/images/{{this.imageLogin}}"
        alt="Login image"
        class="w-full sm:w-[15vw] h-[10vh] object-cover"
      />
      </div>
      <h2 class="text-3xl font-bold text-center mb-8 text-sky-900">Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-4">
          <label for="username" class="block text-gray-700">Correo</label>
          <input
            type="email"
            id="username"
            formControlName="username"
            placeholder="Ingresa tu correo"
            (input)="validateEmail()"
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-sky-500"
          />
          <p *ngIf="loginForm.get('username')?.hasError('email') && loginForm.get('username')?.touched" class="text-red-500 text-sm mt-1">
            El correo electrónico no es válido.
          </p>
        </div>

        <div class="mb-6">
          <label for="password" class="block text-gray-700">Contraseña</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Ingresa tu contraseña"
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-sky-500"
          />
          <p *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="text-red-500 text-sm mt-1">
            La contraseña es obligatoria.
          </p>
        </div>

        <button type="submit" class="w-full bg-sky-900 text-white py-2 rounded-md hover:bg-sky-800 transition duration-300" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </button>

        <!-- <button type="button" class="w-full mt-4 bg-sky-600 text-white py-2 rounded-md hover:bg-sky-500 transition duration-300" (click)="goToRegister()">
          Registrarse
        </button> -->

        <p *ngIf="message" class="text-red-600 mt-4 text-center">{{ message }}</p>
      </form>
    </div>
  </div>
</div>

  <div class="register-container shadow-xl shadow-cyan-500/50 w-[800px]" *ngIf="selectedForm == 'form2'">
    <label for="return" class="regresar" (click)="backToLogin()">
      <mat-icon>arrow_back</mat-icon> Regresar
    </label>
    <h2>Registrar Usuario</h2>
    <form [formGroup]="registerForm" class="form-register" (ngSubmit)="register()">
      <div class="form-group-reg">
        <label for="name">Nombres</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Ingresa tu nombre"
        />
        <p *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
          El nombre es requerido y debe tener al menos 3 caracteres.
        </p>
      </div>

      <div class="form-group-reg">
      <label for="lastname">Apellidos</label>
        <input
          type="text"
          id="lastname"
          formControlName="lastname"
          placeholder="Ingresa tus apellidos"
        />
        <p *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.invalid">
          El apellido es requerido y debe tener al menos 3 caracteres.
        </p>
      </div>
  
      <div class="form-group-reg">
        <label for="tipoDocumento">Tipo de Documento</label>
        <select id="tipoDocumento" formControlName="tipoDocumento">
          <!-- Placeholder -->
          <option value="" disabled selected>Selecciona un tipo de documento</option>
          <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
        </select>
        <p *ngIf="registerForm.get('tipoDocumento')?.touched && registerForm.get('tipoDocumento')?.invalid">
          El tipo de documento es obligatorio.
        </p>
      </div>
  
      <div class="form-group-reg">
        <label for="numDocumento">Número de Documento</label>
        <input
          type="text"
          id="numDocumento"
          formControlName="numDocumento"
          placeholder="Ingresa tu número de documento"
        />
        <p *ngIf="registerForm.get('numDocumento')?.touched && registerForm.get('numDocumento')?.invalid">
          La cédula debe contener entre 5 y 10 dígitos.
        </p>
      </div>
  
      <div class="form-group-reg">
        <label for="correo">Email</label>
        <input
          type="email"
          id="correo"
          formControlName="correo"
          placeholder="Ingresa tu correo electrónico"
        />
        <p *ngIf="registerForm.get('correo')?.touched && registerForm.get('correo')?.invalid">
          Debes ingresar un correo electrónico válido.
        </p>
      </div>

      <div class="form-group-reg">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input
          type="date"
          id="fechaNacimiento"
          formControlName="fechaNacimiento"
          placeholder="Ingresa tu fecha de nacimiento"
        />
        <p *ngIf="registerForm.get('fechaNacimiento')?.touched && registerForm.get('fechaNacimiento')?.invalid">
          Debes ingresar una fecha de nacimiento válida.
        </p>
      </div>
  
      <div class="form-group-reg">
        <label for="contrasena">Contraseña</label>
        <input
          type="password"
          id="contrasena"
          formControlName="contrasena"
          placeholder="Ingresa tu contraseña"
        />
        <p *ngIf="registerForm.get('contrasena')?.touched && registerForm.get('contrasena')?.invalid">
          La contraseña debe tener al menos 6 caracteres.
        </p>
      </div>
  
      <div class="form-group-reg">
        <label for="confirm-contrasena">Confirmar Contraseña</label>
        <input
          type="password"
          id="confirm-contrasena"
          formControlName="confirmContrasena"
          placeholder="Confirma tu contraseña"
        />
        <p *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmContrasena')?.touched">
          Las contraseñas no coinciden.
        </p>
      </div>
  
      <div class="form-group-reg">
        <label for="cell">Celular</label>
        <input
          type="text"
          id="cell"
          formControlName="cell"
          placeholder="Ingresa tu celular"
        />
        <p *ngIf="registerForm.get('cell')?.touched && registerForm.get('cell')?.invalid">
          El celular debe tener exactamente 10 dígitos.
        </p>
      </div>
  
      <div class="form-group-reg">
        <label for="direccion">Dirección</label>
        <input
          type="text"
          id="direccion"
          formControlName="direccion"
          placeholder="Ingresa tu dirección"
        />
      </div>

      <div class="form-group-reg">
        <label for="genero">Genero</label>
        <select id="genero" formControlName="genero">
          <!-- Placeholder -->
          <option value="" disabled selected>Selecciona tipo de usuario</option>
          <option *ngFor="let genero of tiposGenero" [value]="genero">{{ genero }}</option>
        </select>
        <p *ngIf="registerForm.get('genero')?.touched && registerForm.get('genero')?.invalid">
          La seleccion es obligatoria.
        </p>
      </div>
  
      <button type="submit" class="btn bg-sky-900" [disabled]="registerForm.invalid">Registrar Usuario</button>
    </form>
    <p *ngIf="messageSuccess" class="messageSuccess">{{ messageSuccess }}</p>
    <p *ngIf="messageError" class="messageError">{{ messageError }}</p>
  </div>  
</div>

  