.container {
    display: flex;
    position: relative; 
  }
  
  .main-content {
    flex: 1;
    position: relative;
    transition: margin-left 0.3s;
    height: 100%;
  }
  
  .main-content.menu-open {
    margin-left: 60px;
  }
  
  .spinner-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    color: #3f51b5;
  }