@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.menu-overrides((
    item-label-text-color: black,
    item-icon-color: black,
    container-color: white,
    divider-color: black
  ));
}

@layer components {
  .label {
    @apply text-sm font-semibold text-gray-700;
  }

  .input-base {
    @apply w-full rounded-lg border border-gray-300 bg-gray-50
           px-4 py-2.5 text-sm text-gray-800
           placeholder:text-gray-400
           shadow-sm
           transition
           hover:border-sky-400
           focus:bg-white
           focus:outline-none
           focus:ring-2 focus:ring-sky-500
           focus:border-sky-500;
  }

  .error-text {
    @apply text-xs text-red-600 mt-1;
  }
}