<div class="sidebar" [class.open]="(sidebarService.isOpen$ | async)">
    <button class="menu-toggle" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <ul>
      <li>
        <a routerLink="/dashboard/home">
          <mat-icon>dashboard</mat-icon> Inicio
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/products">
          <mat-icon>inventory_2</mat-icon> Agregar Productos
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/register">
          <mat-icon>person_add</mat-icon> Registrar Usuarios
        </a>
      </li>
    </ul>
  </div>
