<div class="sidebar bg-sky-950 my-5" [class.open]="(sidebarService.isOpen$ | async)">
    <div class="sidebar-header">
      <img src="assets/images/{{imageLogo}}" class="w-28 mt-5 h-auto mx-auto" alt="Logo">
      <br>
      <hr> <!-- Línea divisoria -->
      <!-- <button class="close" (click)="toggleMenu()">
        <mat-icon>close</mat-icon>
      </button>
    <button class="menu-toggle" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <ul>
      @for (item of opcionesMenu; track $index) {
        <li>
          <a routerLink={{item.Opcion.Ruta}} routerLinkActive="text-sky-500" class="flex items-center" (click)="setTitle(item.Opcion.TituloPrincipal)">
            <mat-icon class="icon" routerLinkActive="text-sky-500">{{item.Opcion.NombreIcono}}</mat-icon>
            <span class="ml-2" routerLinkActive="text-sky-500">{{item.Opcion.NombreEnMenu}}</span>
          </a>
        </li>
      }
    </ul>
  </div>
