
  .sidebar.open {
    width: 60px;
  }
  
  .sidebar ul li {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 7px 0;
    padding-left: 10px;
    left: 10px;
    transition: opacity 0.3s;
  }
  
  .sidebar ul li a {
    display: flex;
    align-items: center;
    color: white; /* Color predeterminado */
    text-decoration: none;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transición suave */
}

.sidebar ul li button {
    display: flex;
    align-items: center;
    color: white; /* Color predeterminado */
    text-decoration: none;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transición suave */
}

.sidebar ul li a span{
  font-size: 13px;
}

.sidebar ul li button span{
  font-size: 13px;
}

.sidebar ul li button mat-icon {
  margin-right: 15px;
  font-size: 20px;
  transition: color 0.3s; /* Transición suave para el color del ícono */
}

.sidebar ul li a mat-icon {
  margin-right: 10px;
  font-size: 20px;
  transition: color 0.3s; /* Transición suave para el color del ícono */
}

  .sidebar.open ul li a  {
    display: none;
  }

  .sidebar ul li a {
    transition: opacity 0.3s;
  }

  .sidebar.open ul li a {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }

  .menu-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .menu-toggle:hover {
    background-color: #082F49;
    border-radius: 4px;
  }

  .sidebar ul li a.routerLinkActive {
    color: #38bdf8; /* Color azul celeste de Tailwind */
  }

  .sidebar ul li a.routerLinkActive mat-icon {
    color: #38bdf8; /* Color azul celeste para el icono cuando activo */
  }
  .sidebar ul li a:hover {
    background-color: #082F49; /* Fondo oscuro para hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra en hover */
    color: #38bdf8; /* Cambiar color del texto */
  }

  .sidebar ul li a:hover mat-icon {
      color: #38bdf8; /* Cambiar color del ícono al hacer hover */
  }

  @media (min-width: 768px) {
  .sidebar {
    position: sticky;
    left: 10px;
    height: 95vh;
    width: 240px;
    border-radius: 20px;
    overflow: hidden;
    transition: width 0.3s, padding 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
}

/* Para pantallas pequeñas */
@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    background-color: #082f49; /* mismo bg-sky-950 */
    overflow-y: auto;
  }
}
